# find frequencies in string

In [3]:
a = "vijayanand"
b = {}
for i in a:
    if i in b:
        b[i] = b[i]+1
    else:
        b[i]=1
    
print(b)

{'v': 1, 'i': 1, 'j': 1, 'a': 3, 'y': 1, 'n': 2, 'd': 1}

# Add two numbers

In [45]:
c = [3,5,3,5,2]
d = [5,8,2,5,6]
e = len(c)
f = []
j = 0
for i in range(e):
    g = c[i]+d[i]
    h = g%10
    f.append(h+j)
    j = g//10
print(f)

[8, 3, 6, 0, 9]

In [5]:
8//10

0

# find the biggest number

In [6]:
a = [2,4,5,3,7,9]
b = a[0]
for i in range(1,len(a)):
    if a[i]>b:
        b = a[i]
print(b)

9

# Prime Number

In [7]:
a = int(input("Enter the Number :"))
for i in range(2,a):
    if a%i==0:
        print("not prime")
        break
else:
    
    print("this is prime")

Enter the Number :28
not prime

# factorial

In [66]:
num = int(input("enter the no. :"))
fact = 1
for i in range(1,num+1):
    fact *= i
print("the facotorial of",num ,"is",fact)

enter the no. :7
the facotorial of 7 is 5040

# fibanocci series

In [3]:
num = int(input("enter the no. :"))
a = 0
b = 1
count = 0
while count <num:
    c = a+b
    a = b
    b = c
    count +=1
    print(a)

enter the no. :7
1
1
2
3
5
8
13

# Armstrong Number

In [62]:
a = 1634

d = str(a)
b = len(d)
e = 0
for i in range(b):
    c = a%10
    e += c**b
    a = a//10
print(e)

1634

# Remove duplicate

In [25]:
a  = [1,1,2,2,3,3,4]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4]

# Two sum

In [2]:
a = [2,4,5,1,7,9]
tar = 9
count = 0
for i in range(len(a)-1):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==tar:
            print(a[i],a[j])
            count +=1
print(count)

2 7
4 5
2

In [12]:
a = "vijayanand"
b= {}
for i in a:
    if i in b:
        b[i] = b[i]+1
    else:
        b[i] = 1
print(b.keys())

dict_keys(['v', 'i', 'j', 'a', 'y', 'n', 'd'])

In [19]:
c = [3,8,4]
d = [2,2,3]
g = 0 
for i in range(len(d)):
    e = c[i]+d[i]
    f = e%10
    print(f+g)
    g = e//10

5
0
8

In [25]:
a = [3,5,4,11,6,7,1,9]
j = 0
for i in range(1,len(a)):
    if a[i]> a[j]:
        a[j]=a[i]
print(a[j])

11

In [28]:
a = 15
for i in range(2,a):
    if a%i ==0:
        print("not prime")
        break
else:
        print("prime")

not prime

In [33]:
num = 7
fact = 1
for i in range(1,num+1):
    fact*=i
print(fact)

5040

In [37]:
num = 9
a=0
b = 1
for i in range(num):
    c = a+b
    a = b
    b = c
   
    print(a)

1
1
2
3
5
8
13
21
34

In [43]:
a =1634 
b = str(a)
c = len(b)
f = 0
for i in range(c):
    d = a%10
    f += d**c
    
    a = a //10
    
print(e)

1634

In [46]:
a = [2,4,5,1,7,9]
tar = 9
count = 0
for i in range(len(a)):
    for j in range(1,len(a)):
        if a[i]+a[j] ==tar:
            count+=1
            print(a[i],a[j])
print(count)

2 7
4 5
5 4
3

In [6]:
a = [2,3,5,4,7,6]
tar = 9
for i in range(len(a)-1):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==tar:
            print(a[i],a[j])

2 7
3 6
5 4

In [7]:
1234//10

123

In [8]:
1234%10

4

In [2]:
a = ["apple","banana","kiwi","orange"]
print(min(a,key=len))

kiwi

In [3]:
a = "vijayanand"
len(a)

10

In [5]:
a.split()

['vijayanand']

In [42]:
b = [2,3,5,4,7,6]
tar = 9
for i in range(len(b)-1):
    print(i)
    for j in range(i+1,len(b)):
        print(j)
        if b[i]+b[j]==tar:
            print(b[i],b[j])

0
1
2
3
4

In [37]:
len(b)

6

In [9]:
a = [2,4,3]
b = [5,6,4]
l = len(a)
d = 0
f=[]
for i in range(l):
    c = a[i]+b[i]
    g = c%10
    f.append(g+d)
    d = c//10
print(f)

[7, 0, 8]

In [8]:
10//10

1

In [22]:
list1 = [1,2,4]
list2 = [1,3,4]
list3 = list1 + list2
print(list3)
for i in range(len(list3)):
    for j in range(len(list3)):
        if list3[i]<list3[j]:
            list3[i],list3[j]=list3[j],list3[i]
print(list3)

[1, 2, 4, 1, 3, 4]
[1, 1, 2, 3, 4, 4]